@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  --primary: #08aeea;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --gray: #333;
  --font: "Open Sans", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: 1rem;
  overflow-x: hidden;
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

.main-form {
  padding: 40px 20px;
  background-color: white;
  border-radius: 30px;
  width: 100%;
}

.remote-ssh {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  background-color: #4c6ef4;
  text-decoration: none;
  padding: 8px;
  margin-bottom: 45px;
  box-shadow: 0 10px 20px -5px rgba(76, 110, 244, 0.9);
}
.remote-ssh-icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #ff7870;
  border-radius: 10px;
  background-color: white;
  font-size: 25px;
}
.remote-ssh-text {
  color: white;
  font-weight: 500;
  display: block;
  margin: 0 auto;
}
.ssh-or {
  color: #363a40;
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 55px;
}
.ssh-or-text {
  display: inline-block;
  padding: 5px 20px;
  background-color: white;
  position: relative;
  font-size: 14px;
}
.ssh-or:before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #999;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-group {
  margin-bottom: 25px;
}

.form-label {
  display: inline-block;
  cursor: pointer;
  color: #363a40;
  margin-bottom: 15px;
  font-size: 13px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  border: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  background-color: #f2f3f5;
  color: #363a40;
  font-size: 16px;
}
.form-input::-webkit-input-placeholder {
  color: #b4bdc1;
}

.form-submit {
  display: block;
  margin-top: 45px;
  width: 100%;
  padding: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
  background-color: #81c91d;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px -5px rgba(129, 201, 29, 0.9);
  outline: none;
}

#btn-create {
  height: 56px;
  line-height: 40px;
}

.mail-logo {
  height: 48px;
  max-width: 100%;
  object-fit: fill;
}

@media screen and (max-width: 767px) {
  .signup {
    padding: 30px 20px;
  }
}

/**Terminal**/

.title-bar {
  height: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #242424;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  border-radius: 0.5rem 0.5rem 0 0;
}

#cmd-textarea {
  width: 100%;
  background-color: #4b1d3f;
  color: #ffffff;
  font-size: 1.1rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  padding: 1rem;
  border: none;
  border-radius: 0 0 0.5rem 0.5rem;
  height: 35rem;

  resize: none;
  outline: none;
}

/**Terminal**/

/**Radio button with image**/
.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:checked + label > img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type="radio"] + label > img {
  border: 1px dashed #444;
  max-width: 100%;
  object-fit: fill;
  height: 70px;
  transition: 500ms all;
}

input[type="radio"]:checked + label > img {
  transform: rotateZ(-10deg) rotateX(10deg);
}

/**Radio button with image**/
